@import 'ember-power-select';
@import 'ember-paper';

.list {
  width: 100%;
}

.consent {
  &-list {
    width: 90%;
    margin: 3% auto;

    .paper-divider:last-of-type {
      display: none;
    }
  }

  &-item {
    &_collapserBlock {
      text-align: right;
    }

    &_checkboxBlock {
      text-align: right;
    }

    &_buttonBlock {
      width: 100%;
      text-align: right;
    }

    &_textBlock {
      &Title {
        font-weight: 600;
        font-size: 15px;
        display: inline-block;
      }

      &Text {
        font-size: 14px;
        display: inline-block;
      }
    }
  }
}

md-progress-linear {
  position: absolute;
  top: 64px;
  z-index: 10;
}

@media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
  md-progress-linear {
    top: 51px;
  }
}
