@import 'ember-power-select';

.list {
  width: 100%;

  .item {}
}
@import 'ember-paper';

.consent {
  &-list {
    width: 90%;
    margin: 3% auto;

    .paper-divider:last-of-type {
      display: none;
    }
  }

  &-item {
    &_checkboxBlock {
      text-align: right;
    }
    &_buttonBlock {
      width: 100%;
      text-align: right;
    }
    &_textBlock {
      &Title {
        font-weight: 600;
        font-size: 15px;
        display: inline-block;
      }

      &Text {
        font-size: 14px;
        display: inline-block;
      }
    }
  }
}
