{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      {{#paper-button noink=true onClick=(action "logout")}}
        Logout
      {{/paper-button}}
    {{else}}
      {{#paper-button noink=true onClick=(action "login")}}
        Login
      {{/paper-button}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
